@font-face {
 font-family: 'Apercu Bold';
 src: url('/fonts/apercu_bold_pro.otf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Apercu Regular';
 src: url('/fonts/apercu_regular_pro.otf');
 font-weight: normal;
 font-style: normal;
}


$main-background: rgba(242,242,242,1);
$h-font: 'Apercu Bold', sans-serif;
$t-font: 'Apercu Regular', sans-serif;
$accent-color: #BFC2F1;
$hl-color: #f4b560;
$h-color: #333333;
$t-color: #5c5c5c;
$t-size: 15px;

html, body{
  background-color: $main-background;
  overflow-x: hidden;
}

.uk-navbar-container{
  z-index: 999;
}

.fixed-loader{
  background: $hl-color;
  top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
}

.loader-logo{
  z-index: 9999;
}

.v--modal{
  background: $main-background;
  border-radius: 10px;
  .product-container{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .hl-text{
    color: $hl-color;
  }
  .old-text{
    color: #fa5f55;
  }
}

.header-container{
  margin-top: -80px;
}

.cursor-pointer{
  cursor: pointer;
}

.responsive-heightport{
  min-height: 100vh;
}

.tiny-text{
  font-size: 10px;
}

img:focus { outline: none; }

img[data-src][src*='data:image'] {
  background: rgba(0,0,0,0.1);
  height: 500px;
  width: 500px;
 }

.text-strike{
  text-decoration: line-through;
  font-size: 12px;
}

.uk-navbar-item{
  a{
    color: #acacac;
    &.nuxt-link-exact-active.nuxt-link-active{
      color: #333;
    }
  }
}

.uk-search-input{
  font-family: $t-font;
}

#nav-mobile{
  a{
    font-family: $t-font;
    font-size: $t-size;
  }
}


.filter-button{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  font-family: $t-font;
  font-size: 15px;
  border: 1px solid #acacac;
  color: #acacac;
  padding: 10px 20px;
  border-radius: 180px;
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.category-header{
  z-index: 0;
  margin-top: -80px;
  .overlay{
    background: linear-gradient(to top, rgba(242, 242, 242,1) 0%, rgba(242,242,242,0.9) 40% , rgba(242,242,242,0.9) 60% ,  rgba(242,242,242,0.9) 100% );
  }
}

.category-product-container{
  position: relative;
  margin-top: -120px;
}

.uk-navbar-container.active-sticky{
  background: $main-background;
}

.background-soft{
  background-color: #FCE4DD;
}

.background-blue{
  background-color: #ECFCFF;
}

.background-green{
  background-color: #E7F9E7;
}

.imagen-link-container{
  width: 100%;
  height: 100%;
  display: block;
  img{
    width: 100%!important;
    height: 100%!important;
  }
}

.faq-list{
  li{

    a{
      font-family: $h-font;
      font-size: 22px;
      padding: 30px 20px;
      background: #fff;
      border-radius: 10px;
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .uk-accordion-content{
        background: #F0F0F0;
        padding: 30px 20px;
        border-radius: 10px;
    }
  }
}

hr.uk-hr{
  border-top: 1px solid #fff;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate{
  background-color: $hl-color;
}

.uk-radio:checked:focus, .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus{
  background-color: $hl-color;
}

.uk-radio:focus, .uk-checkbox:focus{
  border-color: $hl-color;
}

.payment-gate{
  li{
    margin: 10px 20px;
    &.uk-active{
      a{
        background-color: $hl-color;
        color: #fff;
        box-shadow: 0px 10px 18px -8px rgba(0, 0, 0,0.1);
      }
    }
    a{
      display: block;
      background: #fff;
      border-radius: 10px;
      padding: 40px 20px;
      text-align: center;
      color: $t-color;
      font-family: $h-font;
      text-transform: capitalize;
      transition: all .3s ease-in-out;
      &:hover{
        background-color: $hl-color;
        color: #fff;
        box-shadow: 0px 10px 18px -8px rgba(0, 0, 0,0.1);
      }
      &:active{
        transform: translateY(-10px);
      }
    }
  }
}

.uk-navbar-item{
  a{
    font-family: $t-font;
    font-size: $t-size;
  }
}



.quantity-container{
  position: absolute;
  top: -10px;
  left: -10px;
  transform:  scale(1);
  transition: all 200ms ease-in-out;
  animation: addToCartAnimation 2s infinite;
  .quantity-cart{
    width: 20px;
    height: 20px;
    background-color: $accent-color;
    border-radius: 50%;
    padding: 0px;
    p{
      color: #fff;
      font-size: 12px;
    }
  }
}


a:hover, a:focus{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: $h-font;
  font-weight: 400;
  color: $h-color;
  margin: 0;
  .text-highlight{
    font-weight: 900;
  }
  &.text-responsive{
      font-size: calc(4.273vw + 20.72727px);
  }
}

.drop-upper{

}

.link-container{
  background: #fff;
  padding: 40px 60px;
  margin-top: -50px;
  border-radius: 0px 10px 10px 0px;
  transition: all .6s cubic-bezier(0.175, 0.885, 0, 1);
  &:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: translateY(-1px);
  }
  a{
    color: $t-color;
    font-weight: 400;
    font-family: $t-font;
    font-size: $t-size;
    &:hover{
      color: $t-color;
    }
    &.uk-button-text::before{
      border-bottom: 1px solid $t-color;
    }
  }
}

p{
  font-family: $t-font;
  font-weight: 400;
  font-size: $t-size;
  line-height: 30px;
  margin: 0;
  color: $t-color;
  .text-bold{
    font-family: $h-font;
  }
}

.uk-form-controls{
  background: #fff;
  padding: 5px 20px;
  border-radius: 180px;
}

input.uk-input{
  border: none;
  color: $t-color;
  font-family: $t-font;
  &:focus{
    border-color: $accent-color;
  }
}

button.uk-button{
  transition: all 200ms ease-in-out;
  &.style-a{
    background-color: $hl-color;
    font-family: $t-font;
    color: #fff;
    text-transform: capitalize;
    font-size: $t-size;
    border-radius: 180px;
    &:active{
      transform: scale(1.1) translateY(-10px);
    }
  }
  &.action-button{
    border-radius: 180px;
    background: $hl-color;
    color: #fff;
    &:active{
      transform: scale(1.1) translateY(-10px);
    }
  }
  &.danger-button{
    border-radius: 180px;
    background: #f64949;
    color: #fff;
    &:active{
      transform: scale(1.1) translateY(-10px);
    }
  }
  &.cart-add-button{
    padding: 0;
    color: #cdcdcd;
    background: #f1f1f1;
    border-radius: 10px;
    line-height: inherit;
    padding: 10px;
    transition: all 200ms ease-in-out;
    &:hover{
      color: #fff;
      background: $hl-color;
      box-shadow: 0px 10px 18px -8px rgba(0, 0, 0,0.1);
    }
    &:active{
      transform: scale(1.1) translateY(-10px);
    }
  }
  &.cart-remove-button{
    line-height: inherit;
    padding: 10px;
    color: #cdcdcd;
    background: #f1f1f1;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    &:hover{
      color: #fff;
      background: #f64949;
      box-shadow: 0px 10px 18px -8px rgba(0, 0, 0,0.1);
    }
    &:active{
      transform: scale(1.1) translateY(-10px);
    }
  }
}

.arrows-sliders-a{
  background: #fff;
  transition: all 200ms ease-in-out;
  a{
    color: $t-color!important;
  }
}

.say-padding-left-container {
    padding-left: calc((100vw - 1700px)/2);
}

.category-section{
  background-color: #f4b560;
  border-radius: 10px;
}

.dropdown-categories{
  border-radius: 10px;
}

.addtocartanimation{
  background: $hl-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: 0.5s addtocartAnim infinite;
}

@keyframes addtocartAnim{

   0%{
     position: absolute;
     left: 0px;
     top: 200px;
   }

   100%{
     right: 200px;
     top: 200px;
   }

}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: scale(2);
  opacity: 0;
}

.category-container{
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all .6s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  transform: scale(1);
  &.modal{
    &:hover{
      box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1, 1);
    }
  }
  &:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.05, 1.05);
  }
  .image-container{

    z-index: 1;
  }
  .text{
      color: #6e6e6e;
  }
  .content{
    background: #fff;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%,  rgba(255,255,255,0.9) 45%, rgba(255,255,255,0.8) 55%, transparent 100%);
    padding: 50px;
    .tag{
      color: $hl-color;
      font-size: 12px;
      line-height: 12px;
    }
    &.nav{
      padding: 10px 20px;
      background: linear-gradient(to right,rgb(241, 241, 241) 0%, rgba(241, 241, 241,1) 40%,  rgba(241, 241, 241,0.9) 45%, rgba(241, 241, 241,0.8) 55%, transparent 100%);
    }
  }
  .uk-button{
    color: #fff;
    font-family: $t-font;
    font-size: $t-size;
    text-transform: capitalize;
    border-radius: 150px;
    background-color: $hl-color;
  }
}

.uk-icon-button{
  background: #59dbf2;
  color: #fff;
  transition: all 200ms ease-in-out;
  &:hover{
    background: #fff;
    color: #59dbf2;
  }
}

.dropdown{
background: $hl-color;
border-radius: 10px;
padding: 20px;
box-shadow: 0 30px 18px -8px rgba(0,0,0,.1);

img{
  box-shadow: 0 30px 18px -8px rgba(0,0,0,.1);
}
  p{
    color: #fff;
  }
}

.box-hover-product{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.product-container{
  .content{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);*/
    transition: all .6s cubic-bezier(0.175, 0.885, 0, 1);
    .price{
      color: $hl-color;
    }
    .price-strike{
      font-size: 10px;
      color: #f46565;
      text-decoration: line-through;
      line-height: inherit;
    }
    .brand{
      p{
        color: #c1c1c1;
      }
    }
    .percentage-container{
      background: $hl-color;
      padding: 5px 20px;
      border-radius: 180px;
      p{
        color: #fff;
      }
    }
    &:hover{
      box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    }
  }
}

footer{
  .left-container{
    background-color: $hl-color;
    h1,p{
      color: #fff;
    }
  }
}


.latestproducts-container{
  position: relative;
  .container{
    background: #F2F2F2;
        padding: 50%;
    border-radius: 10px;
    position: relative;
  }

  .shadow{
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    left: 0;
    //filter: blur(10px);
    background: #212121;
    content: 'owo';
  }
}

.bubble-pulse{
  position: absolute;
  z-index: 1;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  background: $hl-color;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

#cart-icon{
  z-index: 2;
  background: $hl-color;
  color: #fff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 18px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(0);
}

#categories-section{

}

@media only screen and (max-width: 600px) {
  .link-container{
    padding: 10px 20px;
  }

  .responsive-heightport{
    height: 300px;
    min-height: 300px;
  }

  .product-container{
    .content{
      .product-title{
        font-size: 13px;
      }
      .uk-card-body{
        padding: 15px;
      }
      .price{
        font-size: 13px;
      }
      .percentage-container{
        padding: 5px 15px;
        p{
          font-size: 12px;
        }
      }
    }
  }

  .category-container{
    .content{
      &.modal{
        position: relative;
      }
          background: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%,  rgba(255,255,255,0.75) 60%, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0.7) 100%);
    }
  }

  .padding-slider{
    padding: 0px 10px;
  }

}
